@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="space"></div>
<!-- Resto del contenido de la página, que no tendrá el desenfoque -->
<div class="content">


    <div class="blurred-box">
        <div class="user-login-box">
            <div class="user-icon"></div>
            <h1 class="user-name">REGISTER</h1>
            <div class="input-container">
                <input type="text" name="username" placeholder="Usuario">
                <input type="text" name="username" placeholder="correo">
                <input type="password" name="password" placeholder="Contraseña">
            </div>
            <a href="/Home/Home">  <button class="login-button">Registrarse</button></a>
            <a href="/home/index" class="register-link">ya tengo una cuenta</a>
        </div>
    </div>
</div>