@{
    ViewData["Title"] = "Home Page";
    
}


<dive class="space"></dive>
    <div class="blurred-box">
        <div class="user-login-box">
            <div class="user-icon"></div>
            <h1 class="user-name">LOGIN</h1>
            <div class="input-container">
                <input type="text" name="username" placeholder="Usuario">
                <input type="password" name="password" placeholder="Contraseña">
            </div>
            <a href="/Home/Home">  <button class="login-button">Iniciar Sesión</button></a>
            <a href="/Home/Register" class="register-link">Aún no tengo una cuenta</a>
        </div>
    </div>



