@{
    ViewData["Title"] = "Home Page";
    
}


    <dive class="space"></dive>



<div class="blurred-box">
    <div class="user-login-box">
        <div class="user-icon"></div>
        <h1 class="user-name">LOGIN</h1>
        <div class="input-container">
            <input type="text" id="username" name="username" placeholder="Usuario">
            <div id="username-error" class="error-message"></div>

            <input type="password" id="password" name="password" placeholder="Contraseña">
            <div id="password-error" class="error-message"></div>
        </div>
        <button type="button" onclick="validarCamposLogin()" class="login-button">Iniciar Sesión</button>
        <a href="/Home/Register" class="register-link">Aún no tengo una cuenta</a>
    </div>
</div>


