@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="space"></div>
<!-- Resto del contenido de la página, que no tendrá el desenfoque -->
<div class="blurred-box">
    <div class="user-login-box">
        <div class="user-icon"></div>
        <h1 class="user-name">REGISTER</h1>
        <div class="input-container">
            <!-- Formulario con validación -->
            <form action="/Home/Home" method="post" id="register-form">
                <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Usuario" required>
                <div id="nombre-error" class="error-message"></div>

                <input type="email" id="email" name="email" class="form-control" placeholder="Correo electrónico" required>
                <div id="email-error" class="error-message"></div>

                <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
                <div id="password-error" class="error-message"></div>

                <!-- Botón de registro -->
                <button type="submit" id="btnregistrar" class="login-button">Registrarse</button>
            </form>
            <a href="/home/index" class="register-link">ya tengo una cuenta</a>
        </div>
    </div>
</div>





