﻿
@{
    Layout = null;
}

    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="~/Assets/styles.css" asp-append-version="true">

    </head>

    <body>


        <div class="blurred-box">
            <div class="user-login-box">
                <div class="user-icon"></div>
                <h1 class="user-name">LOGIN</h1>
                <div class="input-container">
                    <input type="text" name="username" placeholder="Usuario">
                    <input type="password" name="password" placeholder="Contraseña">
                </div>
                <a href="/login/index">
                    <button class="login-button">Iniciar Sesión</button>
                </a>
                <a href="/register/index" class="register-link">Aún no tengo una cuenta</a>
            </div>
        </div>

    </body>
</html>
